body {
    font-family: Arial;
    background: #f3efff;
    text-align: center;
    padding: 20px;
}

form, body > div {
    background: white;
    width: 300px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 15px;
    background: #8b6dcc;
    color: white;
    border: 0;
    border-radius: 5px;
}

h1, h3 {
    color: #6c4ab6;
}

a {
    color: #6c4ab6;
}
